@import url('https://fonts.googleapis.com/css2?family=TH+Sarabun+New:wght@400;700&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #3C3F40;
}

.description {
  position: relative;
  font-size: 2.1rem;
  z-index: 2;
  font-weight: bold;
  left: -1330px;
  top: -100px;
  font-family: 'TH Sarabun New', sans-serif;
  font-weight: bold;
}

.descriptionp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  background-color: #333637;
  width: 1000%;
}

.description1 {
  position: relative;
  font-size: 2rem;
  z-index: 2;
  font-weight: bold;
  left: -625px;
  top: -72px;
}

.description2 {
  position: relative;
  font-size: 2rem;
  z-index: 2;
  font-weight: bold;
  top: -111px;
}

.description3 {
  position: relative;
  font-size: 2rem;
  z-index: 2;
  font-weight: bold;
  left: 632px;
  top: -148px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  top: 0px;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  top: -150px;
  left: -35px;
}

.logo1 {
  position: relative;
  width: 100%;
  height: 100%;
  top: -150px;
  left: 0px;
}

.logo2 {
  position: relative;
  width: 100%;
  height: 100%;
  top: -150px;
  left: 35px;
} 

.under {
  position: absolute;
  width: 10%;
  top: -145px;
  left: 150px;
}

.under1 {
  position: absolute;
  width: 10%;
  top: -145px;
  left: 780px;
}

.under2 {
  position: absolute;
  width: 10%;
  top: -145px;
  right: 145px;
}
