/* styles/Board.module.css */
.board {
  background-color: #3C3F40;
  height: 1000px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 0 20px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.category {
  width: 30%;
  margin: 20px 10px;
}

.category h2 {
  text-align: center;
  color: white;
  background-color: #3C3F40;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: -435px;
  font-size: 1.9em;
}

.category h2::after {
  content: '';
  display: block;
  height: 10px;
  width: 130px;
  background-color: #61dafb;
  margin: 20px auto 0;
  border-radius: 4px;
}

.loadMoreButton {
  display: none;
}
